.article {
    padding: 60px 0 50px;
}

.article__main-title {
    font-size: 60px;
    line-height: 72px;
    margin-bottom: 30px;
}

.article__text {
    margin-bottom: 30px;
}

.article__text:last-child {
    margin-bottom: 0;
}

.article__text_last-element {
    margin-bottom: 0;
}

.article__image {
    display: block;
    margin: 0 auto 30px;
}

.article__image {
    display: block;
    margin: 0 auto 30px;
}

.article__image-left {
    float: left;
    margin: 0 30px 30px 0;
}

.article__image-right {
    float: right;
    padding-left: 30px;
}

.article__figure {
    border: 1px solid #000;
    margin: 0 0 30px;
}

.article__image-figure {
    margin-bottom: 0;
}

.article__image-sign {
    padding: 15px 30px;
    color: #5e5e5e;
}