.list {
    padding: 20px 0 0;
}

.list__container {
    max-width: 1200px;
    background-color: #f1f1f1;
    border-radius: 10px;
    padding: 25px 60px;
    margin-bottom: 50px;
}

.list__title {
    margin-bottom: 20px;
    font-size: 44px;
    line-height: 53px;
}

.list__content {
    list-style-position:inside;
}

.list__item {
    list-style: decimal;
    margin: 0 0 10px;
}

.list__item:last-child {
    margin: 0;
}

.list__link {
    color: #02535F;
    border-bottom: 1px solid #000;
}

.list__link:hover {
    color: #00353d;
}

