.list {
    padding: 25px 0;
    margin-bottom: 50px;
}

.list:last-child {
    margin-bottom: 0;
}

.list__container {
    max-width: 1200px;
    background-color: #f1f1f1;
    border-radius: 10px;
    padding: 25px 60px;

}

.list__title {
    margin-bottom: 20px;
    font-size: 44px;
    line-height: 53px;
}

.list__item {
    list-style: decimal;
    list-style-position: inside;
    margin: 0 0 10px;
}

.list__item-result {
    list-style: none;
}

.list__item-result::before {
    content: " \2014"; 
    margin-right: 10px;
}

.list__item:last-child {
    margin: 0;
}

.list__item-result:last-child {
    margin-bottom: 30px;
}

.list__link {
    color: #02535F;
    border-bottom: 1px solid #000;
}

.list__link:hover {
    color: #00353d;
}

.list .article__text {
    margin-bottom: 0;
}